@import "../../style/variables.scss";
.ant-menu-item-selected a, .ant-menu-item-selected , .ant-menu-item-selected:hover{
    color:$color_white !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color:$bg_color_main ;
}
.ant-menu-item::after{
    border-right: 3px solid #719a7a !important;
}